.billboard {
  height: 500px;
  display: flex;
  align-items: center;
  background: grey;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1{
    font-size: 60px;
  }
}
