header {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(228, 228, 228);
  padding-top: 7px;
  padding-bottom: 7px;

  h3 {
    color: black;
  }

  .avatar-circle{
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}

.header-right{
  display: flex;
  align-items: center;
  gap: 20px;
}

.in-game-nav{
  @media screen and (max-width: 500px) {
    display: none;
  }

  display: flex;
  gap: 20px;
}

.user-header-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.avatar-circle {
  min-height: 35px;
  min-width: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;  
}


.logo {
  max-width: 120px;
}

.coins {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: gold;
}

.user-wrap,
.coin-wrap,
.rank-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;

  // padding: 10px 20px;
}
.coin-wrap {
  background: rgb(238, 255, 0);
  color: #5d3a06;
}

.rank-wrap {
  background: rgba(154, 110, 255, 1);
  height: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: black;
}

.user-header-skeleton {
  min-height: 30px;
  width: 200px;
  background: rgb(227, 227, 227);
  border-radius: 100px;
}

@keyframes coinPulse {
  from {
    color: yellow;
  }
  to {
    color: red;
  }
}

.coinPulse {
  animation: coinPulse 5s linear 2s alternate forwards;
}
